body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: beige;
    text-align: center;

}

.cartel{
    background-image: url(/assets/ima/300.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

*{
    text-decoration: none;
    list-style: none;
}

nav{
    background-color: beige;

    width: 100%;
    
}
.navbar{
    position: sticky;
    top: 0;
}

nav ul{
    float: center;
    margin: right 20px;
    

}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a{
    color: #68421e;
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

nav ul li a:hover{
    background-color: #dab38e;
    transition: .5s;
}

.active{
    background-color: #dab38e;
}
#check{
    display: none;
}
.checkbtn{
    font-size: 30px;
    color: #68421e;
    float: left;
    line-height: 50px;
    margin-left: 40px;
    cursor: pointer;
    display: none;

}
i{
    padding: 0 5px;
}


@media (max-width:600px){
    .checkbtn{
        text-align: left;
        display: block;
        border-radius: 10px;
        float: left;    
        background-color: beige;
        right: 50px;
        
        
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: beige ;
        top: 80px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, .active{
        background: none;
        color: #68421e;
    }

    #check:checked ~ ul{
        left:0;
    }

}

.intro{
    text-align: center;


}