.caja{
    border: 2px solid black;
    margin: 0 25px;
    height: 25px;
    width: 25px;
    position: relative;
}

@keyframes ejemplo{
    from{
        left: 0;
        background-color: red;
    }
    to{
        left: 220px;
        background-color: blue;
    }
}

.Linear{
    animation: ejemplo 2s linear infinite alternate;
}
.Ease{
    animation: ejemplo 2s ease infinite alternate;
}
.Ease-in{
    animation: ejemplo 2s ease-in infinite alternate;
}
.Ease-out{
    animation: ejemplo 2s ease-out infinite alternate;
}
.Ease-in-out{
    animation: ejemplo 2s ease-in-out infinite alternate;
}

h4{
    padding: 20px;
    border: 2px solid black;
}
