
h1{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-align: center;
 font-size: 35px;
 font-family: Arial, Helvetica, sans-serifS;
 color: #dab38e;
 text-shadow: 2px 2px 5px #aa7c50;
 padding-top: 10px;
}

.vid{
    width: 60%;
    margin-top: 10px;
    border-radius: 20px;
    height: 100%;
    margin: 0 22vw;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
}
.intro{
    text-align: center;
    background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(/assets/ima/Captura.JPG) no-repeat center center ;
    overflow: hidden;
    padding: 15px;
    margin: 5px;
    justify-content: space-evenly;
    min-height: 65vh;
    border-radius: 20px;
    background-size: cover;

}
.prim img{
    width: 30vw;
    float: left;
    border-radius: 20px;
    padding: 5px;
}
.seg img{
    width: 30vw;
    float: right;
    border-radius: 20px;
    padding: 5px;

}
p{
    font-size: 22px;
    color: beige;
    opacity: .75;
}
@media (max-width:600px) {
    h1{
        font-size: 30px;
        padding-top: 10px;
    }
    .intro{
        width: 87vW;
    }
    p{
        font-size: 18px;
    }
    .intro img{
        width: 60vw;
    
    }
    .navbar{
        z-index: 100000;
    }
    .vid{
        display: none;
        width: 90vW;
        float: left;
        margin: 0 3vw;
    }

}
